#about section:nth-child(2) {
  position: relative; }
  #about section:nth-child(2) p:nth-of-type(2) {
    align-self: center;
    margin-top: 2rem;
    color: var(--color-secondary);
    font-size: 1.5em;
    font-weight: var(--font-weight-strong);
    text-align: center; }
  #about section:nth-child(2) ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0 2rem;
    padding: 0;
    list-style: none; }
    #about section:nth-child(2) ul li {
      margin: 0.25em;
      padding: 0.25em 0.5em;
      background-color: var(--color-light); 
      }

#contribute {
  .container {
    border: 2px solid var(--color-primary);
    padding: 2rem; 
  }

  &:after {
    content:url("https://i.postimg.cc/CLp2B5G6/castle.png");
  display: block;
  transform: scale(.5);
  display: block;
  text-align: center;
  margin: -7rem; 
  }
}