#guidelines {
  display: grid; 
  grid-template-columns: 1fr 1fr;

  .container {
    border: 2px solid var(--color-primary);
    padding: 1rem; 
  }

  h3 {
    display: inline-block;
    background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
    font-family: var(--small-font); 

    @supports (background-clip: text) or (-webkit-background-clip: text) {
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }

  .container > a {
    align-self: center;
  }

  &::before {
    content: url("https://i.postimg.cc/mgQ9qFYG/trainfront.png");
    display: block;
    text-align: center;
    animation:train 15s infinite;
  }

  @keyframes train {
    0% {
      transform: scale(.5);
    }
    100% {
      transform: scale(1);
    }
  }

}

@media screen and (max-width: 600px) {

  #guidelines {
    display: block; 
  }
}