header {
  // --logomark-height: 3em;
  // --logomark-padding: 0 1em;

  display: grid;
  min-height: 40vh;
  place-items: center;
  padding: 10vh 2rem;
  color: var(--color-primary);
  text-align: center;
  border: 2px solid var(--color-primary);
  margin: 1.5rem; 

  h1 {
    font-size: var(--font-size-h1);
    line-height: 1;
  }

  h2 {
    padding: 0 0 1.5rem;
    width: 100%; 
    border-bottom: 2px solid var(--color-primary);
  }
}
