$maincolor:#754916;
$colorg1:#740001;
$colorg2:#c09521;
$colors1:#1a472a;
$colors2:#5d5d5d;
$colorh1:#e6cc84;
$colorh2:#372e29;
$colorr1:#0e1a40;
$colorr2:#946b2d;
$color-background: #fffef0; 
$secondary-background: #8a4d0f; 

$brand-colors: (
  primary: $maincolor,
  primary-alt: $colorg1,
  secondary: $colorh2,
  secondary-alt: $colorh1,
) !default;

$color-body: scale-color(
  $colorr1,
  $lightness: -30%,
  $saturation: -50%
) !default;
$color-gray: mix(#767676, $colors2, 70%) !default;

$colors: map-merge(
  $brand-colors,
  (
    background: $color-background,
    text: $colors2,
    light: #fff,
  )
);

@function color($key) {
  @return map-get($colors, $key);
}

@function svgColor($color) {
  @return "%23" + str-slice("#{color($color)}", 2, -1);
}

$link-color: color(primary) !default;
$border-radius: 8px !default;

$font-weight-strong: 500 !default;
$font-size-h1: 6rem !default;
$font-size-h2: 3rem !default;
$font-size-h3: 2rem !default;
$font-size-h4: 1.35rem !default;
$font-size-text: 1.15rem !default;

$font-sizes: (
  h1: $font-size-h1,
  h2: $font-size-h2,
  h3: $font-size-h3,
  h4: $font-size-h4,
  text: $font-size-text,
);

// stylelint-disable
:root {
  @each $key, $color in $colors {
    --color-#{$key}: #{$color};
  }

  --color-anchor: #{$link-color};
  --font-family: "Harry Potter", sans-serif;
  --small-font: "EB Garamond", serif;
  --font-weight-strong: #{$font-weight-strong};

  @each $key, $size in $font-sizes {
    --font-size-#{$key}: #{$size};
  }

  --border-radius: #{$border-radius};
}
